:root {--bs-gray-100: #fefefe;--bs-gray-200: #f6f7f9;--bs-gray-300: #cacaca;--bs-gray-400: #aab0bc;--bs-gray-500: #959ca9;--bs-gray-600: #60697b;--bs-gray-700: #2f353a;--bs-gray-800: #21262c;--bs-gray-900: #1e2228;--bs-color-navy: rgb(52,63,82);--bs-color-sky: #5eb9f0;--bs-pink: rgb(246, 128, 159);--bs-pink-dk: rgb(244, 35, 70);}
* {margin: 0;padding: 0;box-sizing: border-box;}
html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
main {
    padding: 1rem;
    background-color: var(--bs-gray-200);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: gainsboro;
    height: 100vh;
}
.blog__heading--cont {
    text-align: center;
}
.blog__heading--cont h1 {
    font-weight: 700;
    font-size: 1.5rem;
}
.blog__heading--cont p {
    font-weight: 500;
    font-size: .85rem;
}
.accordion__cont {
    margin: 1rem auto;
    width: 80vw;
}
.accordion__cont li {
    list-style: none;
    margin-bottom: .7rem;
}
.accordion__cont li label {
    background-color: var(--bs-pink);
    color: var(--bs-gray-100);
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.379);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
}
.accordion__img--box {
    width: 80vw;
    height: 60vh;
    overflow: hidden;
}
.accordion__img--box img {
    width: 100%;
    height: 100%;
}
.accordion__img--box img:hover {
    transform: scale(1.2);
    filter: blur(1px);
}
.accordion__content {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.253);
    height: 0;
    width: 80vw;
    overflow: hidden;
}
.accordion__cont li label span {
    transform: rotate(90deg);
    font-size: 1.3rem;
    font-weight: 700;
}
.accordion__text--box {
    line-height: 1.4rem;
    background-color: var(--bs-color-sky);
    color: var(--bs-gray-800);
    padding: .7rem;
}
.accordion__cont li label + input[type="radio"] {
    display: none;
}
.accordion__cont li label + input[type="radio"]:checked + .accordion__content {
    transition: all 15s;
    height: fit-content;
}

                    /* 900-1245px media query */
@media screen and (min-width: 54rem) and (max-width: 76.25rem) {
    footer .mt-n10 {
        margin-top: 0 !important;
    }   
}

                    /* 720-820px media query */
 @media screen and (min-width: 45rem) and (max-width: 56rem) {
    .accordion__cont {
        width: 100vw;
    }
    .accordion__cont li {
        display: block;
        width: 96vw;
        margin: .6rem auto;
    }
    .accordion__img--box {
        height: 40vh;
    }
 }

             /* < 720px media query */
@media (max-width: 44.9rem) {
    main {
        padding: 0;
    }
    .blog__heading--cont {
        width: 100vw;
        margin: .8rem 0;
    }
    .blog__heading--cont h1 {
        width: 100vw;
        font-size: 1.3rem;
    }
    .blog__heading--cont p {
        width: 100vw;
        font-size: .9rem;
    }
    .accordion__cont {
        width: 100vw;
        margin: 1.2rem 0;
    }
    .accordion__content, .accordion__content div, .accordion__img--box {
        width: 100vw;
        margin: 0;
    }
    .accordion__img--box img {
        width: 100%;
    }
    .accordion__cont li {
        width: 100vw;
        margin: .3rem 0;
    }
    .accordion__cont li label {
        width: 100%;
        margin: 0 -2rem;
        font-size: .8rem;
        background-color: var(--bs-color-sky);
    }
    .accordion__cont li label span {
        font-size: 1rem;
        color: var(--bs-pink);
    }
}

