*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 100%;
}
body {
    overflow-x: hidden;
}
main {
    height: fit-content;
}
.gallery__heading {
    text-align: center;
    margin: 2rem auto;
    color: skyblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: palevioletred;
}
.gallery__container {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
.gal__img--cont {
    height: 50vh;
    max-width: 22vw;
    transition: all .6s;
}
.gal__img--cont:hover {
    transform: scale(1.2) translateY(1.5rem);
}
.gal__img--cont img {
    height: 100%;
    width: 100%;
}

@media (max-width: 58rem) {
    .gallery__container {
        flex-wrap: wrap;
    }  
    .gal__img--cont {
        max-width: 48vw;
        height: 40vh;
    } 
}